<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <group groupName="analytics.aggregation">
        <pipelines>
          <interactions>
            <processor patch:instead="processor[@type='Sitecore.WFFM.Analytics.Aggregation.Processors.FormSummary.FormSummaryProcessor, Sitecore.WFFM.Analytics']" type="Sitecore.Support.WFFM.Analytics.Aggregation.Processors.FormSummary.FormSummaryProcessor, Sitecore.Support.120569" />
          </interactions>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>